Repository MetaFam/TheGame, pull requests merged in 2022-02, with the labels that each got.

#1085 Completed quests widget
  hasura/metadata/tables.yaml
  hasura/migrations/1642635473840_alter_table_public_PlayerRole_add_column_basic/up.sql
  hasura/migrations/1642777028373_add_player_roles/up.sql
  packages/backend/src/handlers/actions/quests/createQuest/createQuest.ts
  packages/web/components/Dashboard/Leaderboard.tsx
  packages/web/components/Player/Filter/DesktopFilters.tsx
  packages/web/components/Player/Section/PlayerCompletedQuests.tsx
  packages/web/components/Player/Section/config.ts
  packages/web/components/Profile/PlayerSection.tsx
  packages/web/components/Profile/ProfileSection.tsx
  packages/web/components/Quest/QuestDetails.tsx
  packages/web/components/Quest/QuestFilter.tsx
  packages/web/components/Quest/QuestForm.tsx
  packages/web/components/Quest/QuestTile.tsx
  packages/web/components/Roles.tsx
  packages/web/components/Setup/SetupRoles.tsx
  packages/web/graphql/fragments.ts
  packages/web/graphql/getQuests.ts
  packages/web/graphql/mutations/updateQuest.ts
  packages/web/pages/profile/setup/roles.tsx
  packages/web/pages/quest/[id]/edit.tsx
  packages/web/pages/quest/create.tsx
  packages/web/pages/quests.tsx
  packages/web/utils/boxTypes.ts
  schema.graphql
Labels: ready-for-review, quests

#1103 Break GitHub Deployment Action Into Jobs
  .github/workflows/PR-CI.yml
  .github/workflows/gcp-deploy.yaml
  README.md
  guides/BACKEND.md
  hasura/seed-db.mjs
  package.json
Labels: ready-for-review, devops

#1115 Miscellaneous extraneous changes pulled from #1078
  .github/dependabot.yml
  .github/workflows/gcp-deploy.yaml
  hasura/metadata/actions.yaml
  hasura/migrations/1643682237699_alter_table_public_player_skill_add_unique_player_id_skill_id/down.sql
  hasura/migrations/1643682237699_alter_table_public_player_skill_add_unique_player_id_skill_id/up.sql
  hasura/seed-db.mjs
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/backend/src/handlers/auth-webhook/handler.ts
  packages/backend/src/handlers/auth-webhook/users.ts
  packages/design-system/src/MetaSecondaryButton.tsx
  packages/design-system/src/SelectSearch.tsx
  packages/utils/src/extendedProfileTypes.ts
  packages/web/components/Dashboard/Seed.tsx
  packages/web/components/Dashboard/XP.tsx
  packages/web/components/EditProfileForm.tsx
  packages/web/components/Player/ColorBar.tsx
  packages/web/components/Player/PlayerGuild.tsx
  packages/web/components/Player/Section/PlayerColorDisposition.tsx
  packages/web/components/Player/Section/PlayerHero.tsx
  packages/web/components/Setup/SetupPersonalityType.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/graphql/getQuest.ts
  packages/web/graphql/getQuests.ts
  packages/web/graphql/mutations/createQuest.ts
  packages/web/graphql/mutations/createQuestCompletion.ts
  packages/web/graphql/mutations/guild.ts
  packages/web/graphql/mutations/idxCache.ts
  packages/web/graphql/mutations/updateQuest.ts
  packages/web/graphql/mutations/updateQuestCompletion.ts
  packages/web/graphql/queries/enums/getPersonalityInfo.ts
  packages/web/graphql/queries/enums/getRoles.ts
  packages/web/graphql/queries/enums/getSkills.ts
  packages/web/lib/hooks/players.ts
  packages/web/lib/hooks/useUserXP.ts
  packages/web/next.config.js
  packages/web/package.json
  packages/web/pages/api/metadata.tsx
  packages/web/utils/dashboardHelpers.ts
  packages/web/utils/imageHelpers.ts
  packages/web/utils/objectHelpers.ts
  schema.graphql
  yarn.lock
Labels: backend, frontend, hasura, ready-for-review
