Repository MetaFam/TheGame, pull requests merged in 2022-11, with the labels that each got.

#1456 Moving pull request template to `.github/`
  .github/pull_request_template.md
Labels: codebase, good 1ˢᵗ issue

#1469 Fixed discord bot to run locally again
  package.json
  packages/discord-bot/package.json
  packages/discord-bot/src/bot.ts
  packages/discord-bot/src/discord/commands/addAlias.ts
  packages/discord-bot/src/discord/commands/getXp.ts
  packages/discord-bot/src/discord/commands/setEthAddress.ts
  packages/discord-bot/src/graphql/client.ts
  packages/discord-bot/tsconfig.json
  yarn.lock
Labels: backend, discord bot

#1453 Ceramic ModelManager → DataModel
  packages/backend/package.json
  packages/backend/src/handlers/actions/idxCache/updateSingle.ts
  packages/backend/src/handlers/auth-webhook/users.ts
  packages/utils/src/ceramic.ts
  packages/utils/src/index.ts
  packages/web/components/EditProfileModal.tsx
  packages/web/contexts/Web3Context.tsx
  packages/web/lib/hooks/useSaveCeramicProfile.ts
  packages/web/package.json
  yarn.lock
Labels: backend, frontend, bug-fix, medium, Ceramic
